body{
background-color: #f0f0f0;
}
.card1{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 7%;
    border-radius: 25px 25px 130px 25px;
    padding: 50px 20px 20px 30px ;
    box-shadow: 0px 7px 25px 0px rgb(186, 185, 185);
   
}
.lable1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #918e8e;
    letter-spacing: 4px;
    font-size: 14px;
}
.input1{
    margin-top: 10px;
    font-size: 28px;
    border-radius: 15px;
    border: 1px solid #d7d7d7;
    padding: 15px;
    font-weight: bold;
    width: 100%;
}
.div1{
width: 20%;
display: inline-block;
margin-left: 25px;
}
.div-dire{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #eb9ff1;
    transition: 0.2s;
}
.div-dire:hover{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #eb9ff1;
    cursor: pointer;
}
.div-dire:active{
  
    background-color: #c981ce;
    /* transform: translateY(3px); */
    transform: scale(0.9);
    cursor: pointer;

}
.div-p1{
    margin-top: 0px;
    margin-left: 25px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}
.div-p2{
    display: inline-block;
    margin-top: 0px;
    vertical-align: middle;
    text-align: center;
}
.img2{
    width: 50%;
    margin: auto;
    margin-top: 19px;
    margin-left: px;
}
.show1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 80px;
    font-style: italic;
    margin-left: 35px;
    color: #2a2929;
    margin-top: -9px;
}